---
import Prompt from "src/components/Prompt.astro";
import Category from "src/components/homepage/Category.astro";
import {
  getBlogPosts,
  getSnippets,
  getUrlForCollectionEntry,
  getWeeklies,
} from "src/content/config";

const NUM_POSTS = 5;

const blogs = (await getBlogPosts())
  .map(({ data: { title, date }, slug }) => ({
    title,
    date,
    href: getUrlForCollectionEntry("blog", slug),
  }))
  .slice(0, NUM_POSTS);

const weeklies = (await getWeeklies())
  .map(({ data: { title, date }, slug }) => ({
    title,
    date,
    href: getUrlForCollectionEntry("weekly", slug),
  }))
  .slice(0, NUM_POSTS);

const tils = (await getSnippets())
  .map(({ data: { title, published, modified }, slug }) => ({
    title,
    date: modified || published,
    href: getUrlForCollectionEntry("snippets", slug),
  }))
  .slice(0, NUM_POSTS);
---

<section class="fold">
  <div class="prompt">
    <Prompt path=" ls" />
  </div>
  <ul>
    <li><Category title="blog/" href="/blog" posts={blogs} /></li>
    <li><Category title="weekly/" href="/weekly" posts={weeklies} /></li>
    <li><Category title="til/" href="/til" posts={tils} /></li>
  </ul>
</section>

<style lang="scss">
  @import "src/variables.scss";
  section {
    max-width: 1000px;
    margin: auto;
  }
  ul {
    max-width: 600px;
    margin: auto;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0;
    font-family: monospace;
    li {
      flex: 1;
      display: inline;
      width: 100%;
    }
  }

  .prompt {
    @include sans-serif;
    max-width: 600px;
    margin: auto;
  }
</style>
