---
import { toReadableString } from "src/utils";

type Props = { title: string; href: string; date: Date | null };

const { title, href, date } = Astro.props;
---

<a href={href}>
  <span class="label">{date ? toReadableString(date) : "..."}</span>
  <span class="title">{title}</span>
</a>

<style>
  a {
    display: flex;
    text-decoration: none;
    width: 100%;
    padding: 0.1rem;
    margin-right: 1rem;
    border-radius: 5px;
    margin-bottom: 0.5rem;

    transition: 0.15s;
    &:hover {
      background-color: color-mix(in srgb, var(--accent-color) 20%, transparent);
      text-decoration: none;
    }
    .label {
      font-size: 0.8rem;
      color: #999;
      min-width: 12ch;
      max-width: 12ch;
      text-align: right;
      margin-right: 4ch;
    }

    .title {
      font-weight: 600;
      color: var(--text-color);
    }
  }
</style>
