---
import Base from "../../layouts/Base.astro";
import PostEntry from "../../components/blog/list/PostEntry.astro";
import Pagination from "../../components/blog/list/Pagination.astro";

// @ts-ignore
export async function getStaticPaths({ paginate }) {
  const posts = (await Astro.glob("../../pages/blog/**/*.md"))
    .sort(
      (a, b) =>
        new Date(b.frontmatter.date).valueOf() -
        new Date(a.frontmatter.date).valueOf()
    )
    .filter((p) => !p.frontmatter.draft);
  return paginate(posts, { pageSize: 5 });
}

const { page } = Astro.props;
---

<Base path="blog" title="Blog | Davis Haupt" description={"Davis Haupt's Blog"}>
  <section id="intro">
    <h1>Thoughts and Writeups</h1>
    by Davis Haupt
  </section>
  <section id="list">
    {page.data.map((p: any) => <PostEntry {...p} />)}
  </section>
  <Pagination page={page} />
</Base>

<style lang="scss">
  @import "../../variables.scss";
  #intro,
  #list {
    width: 95%;
    max-width: 75ch;
    margin: 1rem 2rem;
  }

  h1 {
    font-family: "Inter", sans-serif;
  }
  #intro::after {
    border-bottom-color: $accent-color;
    content: "";
    display: block;
    width: 5em;
    border-bottom: 0.125em solid $accent-color;
    margin-top: 2.5em;
  }
</style>
