---
import type { CollectionEntry } from "astro:content";
import type { GetStaticPaths, Page } from "astro";
import BlogListPage from "@layouts/BlogListPage.astro";
import { getBlogPosts } from "src/content/config";

export const getStaticPaths: GetStaticPaths = async ({ paginate }) => {
  const posts = await getBlogPosts();
  return paginate(posts, { pageSize: 5 });
};

type Props = { page: Page<CollectionEntry<"blog">> };

const props = Astro.props;
---

<BlogListPage
  page={props.page}
  path="blog"
  title="Blog"
  description="Davis Haupt's Blog"
  collection="blog"
>
  <h1>Thoughts and Writeups</h1>
   by Davis Haupt
</BlogListPage>
