---
import Base from "@layouts/Base.astro";
import Intro from "src/components/common/Intro.astro";
import SnippetTable from "src/components/snippets/SnippetTable.astro";
import { getSnippets } from "src/content/config";

const snippets = await getSnippets();
---

<Base
  path={"til/"}
  back="/"
  title={"TIL"}
  description={"Short, hard-won snippets to help every last DenverCoder9 on the web."}
>
  <div>
    <Intro title="TILs" accent={false}>
      <h2>
        Short, hard-won snippets to help every last <a
          href="https://xkcd.com/979/"
        >
          DenverCoder9
        </a> on the web.
      </h2>
    </Intro>

    <SnippetTable entries={snippets} />
  </div>
</Base>

<style lang="scss">
  @import "/src/variables.scss";

  div {
    max-width: 95vw;
  }
</style>
