---
import Degree from "./Degree.astro";
import { getCollection } from "astro:content";

const degrees = (await getCollection("education"))
  .filter((d) => !d.data.hide)
  .sort(
    (a, b) =>
      new Date(b.data.graduation).getTime() -
      new Date(a.data.graduation).getTime()
  );
---

<div>
  {degrees.map((d) => <Degree entry={d} />)}
</div>

<style lang="scss">
  div {
    @import "/src/variables.scss";
    @media print {
      width: 100%;
      padding: 0;
    }
  }
</style>
