---
import type { CollectionEntry } from "astro:content";
import type { GetStaticPaths, Page } from "astro";
import BlogListPage from "@layouts/BlogListPage.astro";
import { getWeeklies } from "src/content/config";
import Subscribe from "src/components/Subscribe.astro";

export const getStaticPaths: GetStaticPaths = async ({ paginate }) => {
  const posts = await getWeeklies();
  return paginate(posts, { pageSize: 4 });
};

type Props = { page: Page<CollectionEntry<"weekly">> };

const props = Astro.props;
---

<BlogListPage
  collection="weekly"
  page={props.page}
  path="weekly"
  title="Weekly Links"
  description="Some interesting links I've found"
>
  <h1>Weekly Links</h1>
  <Subscribe>
    Curated links and commentary from me, once a week. Sign up to get it in your
    inbox!
  </Subscribe>
</BlogListPage>
