---
import Base from "../../layouts/Base.astro";
import WorkHistory from "src/components/resume/work/WorkHistory.astro";
import PrintHeader from "src/components/resume/PrintHeader.astro";
import Education from "src/components/resume/education/Education.astro";
import Section from "src/components/resume/Section.astro";
import ProjectList from "src/components/resume/projects/ProjectList.astro";
---

<Base path="resume" title="Resume" description={"Resume"}>
  <div id="resume">
    <PrintHeader />
    <div class="columns">
      <div class="main">
        <Section name="Work Experience"><WorkHistory /></Section>
      </div>
      <div class="spacer"></div>
      <div class="sidebar">
        <Section name="Education"><Education /></Section>
        <Section name="Projects"><ProjectList /></Section>
      </div>
    </div>
  </div>
</Base>

<style lang="scss">
  @import "/src/variables.scss";
  #resume {
    max-width: 120ch;
    @media print {
      max-width: 100%;
    }
  }
  .columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media print {
      // TODO: toggle this depending on how much content
      // is on the printed resume.
      flex-direction: column-reverse;
    }

    @media #{$media-size-phone} {
      @media screen {
        flex-direction: column;
      }
    }

    .sidebar {
      flex: 1;
    }
    .main {
      flex: 2;
    }
    .spacer {
      flex: 0.05;
    }
  }
</style>
<style is:global lang="scss">
  @media print {
    #resume {
      a {
        color: blue;
      }
    }
  }
</style>
