---
import Base from "../../layouts/Base.astro";
import WorkHistory from "src/components/resume/work/WorkHistory.astro";
import PrintHeader from "src/components/resume/PrintHeader.astro";
import Education from "src/components/resume/education/Education.astro";
import Section from "src/components/resume/Section.astro";
---

<Base path="resume" title="Resume" description={"Resume"}>
  <div id="resume">
    <PrintHeader />
    <Section name="Experience"><WorkHistory /></Section>
    <Section name="Education"><Education /></Section>
  </div>
</Base>

<style lang="scss">
  #resume {
    max-width: 80ch;
    @media print {
      max-width: 100%;
    }
  }
</style>
<style is:global lang="scss">
  @media print {
    #resume {
      a {
        color: blue;
      }
    }
  }
</style>
