---
import type { CollectionEntry } from "astro:content";
import { getBlogPosts, getUrlForCollectionEntry } from "src/content/config";

export interface Props {
  entry: CollectionEntry<"blog">;
}

const {
  entry: { id },
} = Astro.props;

const posts = await getBlogPosts();

const idx = posts.findIndex((p) => p.id === id);
const prevPost = idx < posts.length - 1 ? posts[idx + 1] : null;
const nextPost = idx > 0 ? posts[idx - 1] : null;
---

<div class="pagination">
  {
    prevPost && (
      <a
        class="pagination-item"
        href={getUrlForCollectionEntry("blog", prevPost.slug)}
      >
        <span class="pagination-label">Previous Post</span>
        <span class="pagination-title">{prevPost.data.title}</span>
      </a>
    )
  }
  {
    nextPost && (
      <a
        class="pagination-item"
        href={getUrlForCollectionEntry("blog", nextPost.slug)}
      >
        <span class="pagination-label">Next Post</span>
        <span class="pagination-title">{nextPost.data.title}</span>
      </a>
    )
  }
</div>

<style lang="scss">
  @import "/src/variables.scss";
  .pagination {
    display: flex;
    justify-content: center;
    @media print {
      display: none;
    }

    &-item {
      display: flex;
      flex-direction: column;
      text-decoration: none;
      width: 100%;
      padding: 0.5rem;
      border-radius: 5px;
      transition: 0.15s;

      &:hover {
        background-color: rgba($accent-color, 0.1);
      }
    }

    &-label {
      font-family: "Inter", sans-serif;
      font-size: 0.8rem;
      margin-bottom: 0.5rem;
      color: #999;
    }
    &-title {
      font-weight: 600;
      color: $text-color;
    }
  }
  a:hover {
    text-decoration: none;
  }
</style>
