<div id="blog-post-content">
  <slot />
</div>
<!-- We need global styles here so that the css will
     apply to the generated markdown content inside the slot. -->
<style lang="scss" is:global>
  @import "/src/variables.scss";
  #blog-post-content {
    // If a link has <strong> inside of it, we don't need underlines
    // to differentiate it.
    a:has(strong) {
      color: $accent-color;
      text-decoration: none;
    }

    line-height: 1.5rem;
    @media print {
      line-height: 1;
      p,
      li {
        font-size: 12px;
      }
    }
    p {
      font-size: 13pt;
      margin-top: 0.75rem;
      margin-bottom: 0.75rem;
    }
    li {
      font-size: 13pt;
      p {
        &:first-child {
          margin-top: 0;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    img {
      max-width: 100%;
      border-radius: 5px;
    }

    img + em {
      @include dimmed;
      display: block;
      text-align: center;
      font-style: normal;
      font-size: 0.9rem;
      line-height: 1;
    }
    td {
      vertical-align: top;
    }
    blockquote {
      @include sans-serif;
      font-style: italic;
      padding: 0.25rem 1rem;
      border-left: 4px solid $accent-color;
      background: $background-color;
      p {
        font-size: 0.95rem;
        line-height: 1.2;
        margin: 0.5rem;
      }
    }
  }

  code {
    font-family:
      Consolas,
      Monaco,
      Andale Mono,
      Ubuntu Mono,
      monospace;
    font-display: auto;
    font-feature-settings: normal;
    background: $background-color;
    padding: 1px 6px;
    margin: 0 2px;
    border-radius: 5px;
    font-size: 0.95rem;
  }
  pre {
    background: #212020;
    padding: 20px;
    border-radius: 8px;
    font-size: 0.8rem;
    line-height: 1.25;
    overflow: auto;

    @media #{$media-size-phone} {
      white-space: pre-wrap;
      word-wrap: break-word;
    }
    @media print {
      white-space: pre-wrap;
      word-wrap: break-word;
    }

    code {
      background: none !important;
      color: #ccc;
      margin: 0;
      padding: 0;
      font-size: inherit;
    }
  }
</style>
