<div id="blog-post-content">
  <slot />
</div>
<!-- We need global styles here so that the css will
     apply to the generated markdown content inside the slot. -->
<style lang="scss" is:global>
  @import "/src/variables.scss";
  #blog-post-content {
    line-height: 1.5rem;
    p {
      font-size: 13pt;
      margin-top: 1.5rem;
      margin-bottom: 0;
    }
    li {
      font-size: 13pt;
      p {
        margin-top: 0;
      }
    }
    img {
      max-width: 100%;
      border-radius: 5px;
    }

    img + em {
      @include dimmed;
      display: block;
      text-align: center;
      font-style: normal;
      font-size: 0.9rem;
      line-height: 1;
    }
    td {
      vertical-align: top;
    }
  }
  code {
    font-family:
      Consolas,
      Monaco,
      Andale Mono,
      Ubuntu Mono,
      monospace;
    font-display: auto;
    font-feature-settings: normal;
    background: $background-color;
    padding: 1px 6px;
    margin: 0 2px;
    border-radius: 5px;
    font-size: 0.95rem;
  }
  pre {
    background: #212020;
    padding: 20px;
    border-radius: 8px;
    font-size: 0.8rem;
    line-height: 1.25;
    overflow: auto;

    @media #{$media-size-phone} {
      white-space: pre-wrap;
      word-wrap: break-word;
    }
    @media print {
      white-space: pre-wrap;
      word-wrap: break-word;
    }

    code {
      background: none !important;
      color: #ccc;
      margin: 0;
      padding: 0;
      font-size: inherit;
    }
  }
</style>
