---
import type { MarkdownInstance, MarkdownLayoutProps } from "astro";
import Job from "./Job.astro";
import type { JobInfo } from "./types";

export interface Props {
  title: string;
  jobs: MarkdownInstance<JobInfo>[];
}

const { title, jobs } = Astro.props;

jobs.sort(
  (a, b) =>
    new Date(b.frontmatter.start).getTime() -
    new Date(a.frontmatter.start).getTime()
);

const {
  company,
  location = "Remote",
  logo = null,
} = jobs[0]?.frontmatter || {};
---

<li>
  <span class="info">
    <strong>{company}</strong>
    <span class="location">• {location}</span>
  </span>
  <ul>
    {jobs.map((job) => <Job job={job} />)}
  </ul>
</li>

<style lang="scss">
  @import "/src/variables.scss";
  li {
    list-style: none;
  }
  .info {
    font-size: 1.15rem;
  }
  .location {
    @include dimmed;
  }
</style>
