---
import type { MarkdownInstance, MarkdownLayoutProps } from "astro";
import { toDuration, toMonthYear } from "src/utils";

export interface Props {
  job: MarkdownInstance<{
    company: string;
    location: string;
    title: string;
    start: string;
    end: string;
  }>;
}

const { job } = Astro.props;
const startDate = new Date(job.frontmatter.start);
const endDate = job.frontmatter.end ? new Date(job.frontmatter.end) : null;
---

<li>
  {job.frontmatter.title}: {toDuration(startDate, endDate)}
</li>
