<div id="print-only">
  <h1>Davis Haupt</h1>
  <div id="links">
    <a href="mailto:me@davishaupt.com">me@davishaupt.com</a>| <a
      href="https://github.com/davish">github.com/davish</a
    > | <a href="linkedin.com/in/davishaupt/">linkedin.com/in/davishaupt/</a>
  </div>
</div>

<style lang="scss">
  #print-only {
    display: none;
    @media print {
      display: block;
    }
  }
</style>
