---
import Barebones from "@layouts/Barebones.astro";
import BelowFold from "src/components/homepage/BelowFold.astro";
import Hero from "src/components/homepage/Hero.astro";
---

<Barebones title="Davis Haupt">
  <div class="page">
    <Hero />
    <BelowFold />
  </div>
</Barebones>
