---
import type { CollectionEntry } from "astro:content";

export type Props = {
  entry: CollectionEntry<"projects">;
};

const {
  entry: {
    data: { name, description },
    slug,
  },
} = Astro.props;
---

<div>
  <a href={`projects/${slug}`}>{name}</a> – {description}
</div>

<style lang="scss">
  div {
    @import "/src/variables.scss";
    @include sans-serif;
    font-size: 0.8em;

    a {
      font-weight: 600;
    }
  }
</style>
