---
import type { CollectionEntry } from "astro:content";
import { getUrlForCollectionEntry } from "src/content/config";

export type Props = {
  entry: CollectionEntry<"projects">;
};

const {
  entry: {
    data: { name, description },
    slug,
  },
} = Astro.props;
---

<div>
  <a href={getUrlForCollectionEntry("projects", slug)}>{name}</a> – {
    description
  }
</div>

<style>
  div {
    font-family: var(--font-sans-serif);
    font-size: 0.8em;

    a {
      font-weight: 600;
    }
  }
</style>
