---
import TummyTimer from "../../react/components/TummyTimer/TummyTimer";
---

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Tummy Timer!</title>
</head>
<body>
  <div class="centered">
    <div class="container">
      <div class="hero">
        <h1>Tummy Timer!</h1>
        <p>Press START to go!</p>
      </div>
      <div>
        <TummyTimer client:load />
      </div>
    </div>
  </div>

  <style lang="scss">
    .centered {
      display: flex;
      align-items: center;
      justify-content: space-around;
      height: 100vh;
    }
    .container {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      font-family: "Chalkboard";
      overflow: hidden;
      h1 {
        margin: 0;
      }
    }
    .hero {
      width: 80ch;
      text-align: center;
    }
  </style>

  <style lang="scss" is:global>
    .timer {
      &-container {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      &-timers {
        display: flex;
        font-family: sans-serif;
        justify-content: space-between;
        width: 40ch;
      }
      &-timer {
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-width: 1px;
        border-color: black;
        border-style: solid;
        border-radius: 50px;
      }
      &-controls {
        display: flex;
        justify-content: space-around;
        width: 30ch;
        margin-top: 2rem;
      }
    }
  </style>
</body>
