---
import type { CollectionEntry } from "astro:content";
import { getUrlForCollectionEntry } from "src/content/config";

export interface Props {
  post: CollectionEntry<"blog">;
}
const { post } = Astro.props;
---

<li>
  <a href={getUrlForCollectionEntry("blog", post.slug)}>
    <span class="article">{post.data.title}</span>
    <div>{post.data.description || ""}</div>
  </a>
</li>

<style lang="scss">
  @import "/src/variables.scss";
  li {
    a {
      display: flex;
      flex-direction: column;
      text-decoration: none;
      width: 100%;
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 0;
      padding: 0.5rem;
      border-radius: 5px;
      transition: 0.15s;

      &:hover {
        background-color: rgba($accent-color, 0.1);
        text-decoration: none;
      }

      div {
        font-family: "Inter", sans-serif;
        font-size: 0.8rem;
        margin-bottom: 0.5rem;
        color: #999;
      }
      span {
        font-weight: 600;
        color: $text-color;
      }
    }
  }
</style>
