---
import { getBlogPosts } from "src/content/config";
import HighlightList from "./HighlightList.astro";

let highlights = await getBlogPosts((p) => p.data.highlight);

const numHighlights = Math.floor(highlights.length / 2) * 2;
highlights = highlights.slice(0, numHighlights);

const firstCol = highlights.slice(0, numHighlights / 2);
const secondCol = highlights.slice(numHighlights / 2);
---

<div>
  <HighlightList highlights={firstCol} />
  <HighlightList highlights={secondCol} />
</div>
<style lang="scss">
  @import "/src/variables.scss";
  div {
    display: flex;
    min-width: 40%;
    // max-width: 80%;
    justify-content: space-around;
    @media #{$media-size-phone} {
      flex-direction: column;
    }
  }
</style>
