---
import Prompt from "./Prompt.astro";

export interface Props {
  path: string | undefined;
  back?: string | undefined;
}
const { path, back } = Astro.props;
---

<nav>
  <a class="prompt" href={back || "/"} aria-label={back ? "back" : "home"}>
    <Prompt path={path} />
  </a>
  <ul class="links">
    <li><a href="/til">TIL</a></li>
    <li><a href="/reading">Reading</a></li>
    <li><a href="/weekly">Weekly</a></li>
    <li><a href="/blog">Blog</a></li>
  </ul>
</nav>

<style lang="scss">
  @import "../variables.scss";
  nav {
    @include sans-serif;
    display: flex;
    justify-content: space-between;
    @media print {
      display: none;
    }
    @media #{$media-size-phone} {
      font-size: 0.85rem;
      flex-direction: column-reverse;
      align-items: flex-start;
      gap: 1rem;
      width: 100%;
      max-width: 100vw;
      overflow-x: hidden;
    }
  }
  a.prompt {
    text-decoration: none;
    color: $text-color;
    padding-left: 1rem;
    &:hover {
      text-decoration: none;
      background-color: transparent;
    }
  }

  ul {
    list-style-type: none;
    display: flex;
    align-items: center;

    @media #{$media-size-phone} {
      flex-wrap: wrap;
      gap: 0.5rem;
      width: 100%;
      justify-content: space-between;
      max-width: 100%;
      padding: 0 0;
      margin-bottom: 0;
    }
    li {
      display: inline;
      padding: 0 1rem;
      @media #{$media-size-phone} {
        padding: 0 0.5rem;
        flex: 0 0 auto;
        &:first-child {
          margin-left: 0.5rem;
        }
        &:last-child {
          margin-right: 0.5rem;
        }
      }
    }
  }

  ul.links > li > a {
    text-decoration: none;
    position: relative;
    color: $accent-color;
    font-weight: 400;

    &:hover {
      text-decoration: none;
      background-color: transparent;
    }

    &:before {
      content: "";
      position: absolute;
      width: 0;
      height: 2px;
      bottom: -0.25rem;
      left: 0;
      background-color: $accent-color;
      visibility: hidden;
      transition: all 0.2s ease-in-out;
    }

    &:hover:before {
      visibility: visible;
      width: 100%;
    }
  }
</style>
