---
export interface Props {
  path?: string | undefined;
}
const { path = "" } = Astro.props;
---

<ul aria-hidden="true">
  <span id="container">
    <span id="prefix">&gt;</span>
    {
      path !== "µ" ? (
        <span id="text"> ~/{path}</span>
      ) : (
        <span id="text">
          ~/<span class="mu">{path}</span>
        </span>
      )
    }

    <span id="cursor"></span>
  </span>
</ul>

<style>
  ul {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    font-display: auto;
    padding-left: 0rem;
    @media (--phone) {
      margin-top: 0;
    }

    #prefix {
      font-weight: bold;
      display: inline-flex;
      align-items: center;
      margin-right: 5px;
    }

    #text {
      font-size: 1.125rem;

      @media (--phone) {
        font-size: 0.9rem;
      }

      .mu {
        font-family: var(--font-serif);
      }
    }

    #cursor {
      display: inline-block;
      width: 10px;
      height: 1rem;
      background: var(--accent-color);
      margin-left: 5px;
      border-radius: 1px;
      animation: prompt 1s infinite;
      animation-duration: 1.5s;

      position: relative;
      top: 1px;

      @media (--phone) {
        height: 0.9rem;
        top: 2px;
      }
    }
  }

  @keyframes prompt {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
</style>
