---
import type { CollectionEntry } from "astro:content";
import { getUrlForCollectionEntry } from "src/content/config";
import { toMonthYear } from "src/utils";
export type Props = { entries: CollectionEntry<"snippets">[] };

const { entries } = Astro.props;
---

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th class="description">Description</th>
      <th>Category</th>
      <th>Last Updated</th>
    </tr>
  </thead>
  <tbody>
    {
      entries.map(
        ({ id, data: { title, description, published, modified, category } }) => (
          <tr>
            <td>
              <a href={getUrlForCollectionEntry("snippets", id)}>{title}</a>
            </td>
            <td class="description">{description}</td>
            <td>{category}</td>
            <td>{toMonthYear(modified || published)}</td>
          </tr>
        )
      )
    }
  </tbody>
</table>

<style>
  table {
    max-width: 120ch;
    width: 100%;
    border-collapse: collapse;
  }
  table thead tr th {
    border-bottom: 3px solid var(--util-color);
  }
  th {
    font-family: var(--font-sans-serif);
    text-align: left;
    color: var(--util-color);
    font-size: 0.85rem;
    text-transform: uppercase;
    padding: 14px;
  }

  tbody tr {
    transition: 0.15s;
    &:hover {
      background-color: color-mix(in srgb, var(--accent-color) 10%, transparent);
    }
    &:first-child {
      td {
        &:first-child {
          border-top-left-radius: 0;
        }
        &:last-child {
          border-top-right-radius: 0;
        }
      }
    }
    td {
      font-family: var(--font-sans-serif);
      font-size: 0.95rem;
      padding: 14px;
      &:first-child {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
      }
      &:last-child {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
      }
    }
  }
  @media (--phone) {
    .description {
      display: none;
    }
  }
</style>
