---
import type { CollectionEntry } from "astro:content";
import ReadingEntry from "src/components/reading/ReadingEntry.astro";

type Props = {
  books: CollectionEntry<"reading">[];
  authorsWithMultipleBooks?: Set<string>;
};

const { books, authorsWithMultipleBooks } = Astro.props;
---

<div class="book-list">
  {
    books.map((post) => (
      <ReadingEntry
        post={post}
        showAuthorLink={
          authorsWithMultipleBooks?.has(post.data.author) || false
        }
      />
    ))
  }
</div>

<style lang="scss">
  @import "/src/variables.scss";
  .book-list {
    width: 100%;
    display: grid;
    grid-template-columns: 1.5fr 1fr 10ch 6ch;
    gap: 0.5rem;
    padding: 0.75rem 0;

    @media #{$media-size-phone} {
      grid-template-columns: 1fr 10ch;
    }
  }
</style>
