---
import Base from "../../../layouts/Base.astro";

let tagAndCount: [string, number][] = Array.from(
  (await Astro.glob("../../**/*.md"))
    .map((p) => p.frontmatter.tags)
    .filter((a) => a)
    .flatMap((a) => a)
    .reduce((acc: Map<string, number>, t: string) => {
      const count = acc.get(t);
      if (count) {
        return acc.set(t, count + 1);
      } else {
        return acc.set(t, 1);
      }
    }, new Map())
    .entries()
);
tagAndCount = tagAndCount.filter((t) => t[1] > 1).sort((a, b) => b[1] - a[1]);
---

<Base path="blog/tags" description={"Tags for Davis Haupt's blog"}>
  <p>
    I wasn't sure the best way to present a list of tags, so here's a list of
    all tags with more than one article:
  </p>
  <table>
    <th>Tag</th>
    <th># Articles</th>

    {
      tagAndCount.map(([t, c]) => (
        <tr>
          <td>
            <a href={`/blog/tags/${t}`}>{t}</a>
          </td>{" "}
          <td style={{ textAlign: "center" }}>{c}</td>
        </tr>
      ))
    }
    <style lang="scss">
      p {
        max-width: 70ch;
      }
    </style>



  </table>
</Base>
