$blog-link-color: #0366d6;
$accent-color: #0fa817;
$text-color: #111;
$border-color: $text-color;
$background-color: rgba(27, 31, 35, 0.05);

$media-size-phone: "(max-width: 684px)";
$media-size-tablet: "(max-width: 900px)";

@mixin dimmed {
  opacity: 0.6;
}
