$blog-link-color: #0366d6;
$accent-color: #0fa817;
$accent-color-hover: #12c41b;
$text-color: #111;
$util-color: #5a6072;
$border-color: $text-color;
$background-color: rgba(27, 31, 35, 0.05);
$background-color-solid: rgba(27, 31, 35, 0.15);

$media-size-phone: "(max-width: 684px)";
$media-size-tablet: "(max-width: 1300px)";
$media-size-desktop: "(min-width: 1300px)";

@mixin dimmed {
  opacity: 0.6;
}

@mixin serif {
  font-family: et-book, Palatino, "Palatino Linotype", "Palatino LT STD",
    "Book Antiqua", Georgia, serif;

  @media print {
    font-family: serif;
  }
}

@mixin sans-serif {
  font-family: "Inter", sans-serif;

  @media print {
    font-family: sans-serif;
  }
}