---
import Meta from "src/components/Meta.astro";

export interface Props {
  title: string;
  rss?: string | undefined;
  card?: boolean | undefined;
  description?: string | null;
  themeColor?: string;
}
const { title, description, rss, card, themeColor } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <Meta
      title={title}
      description={description || "Davis Haupt's Website"}
      rss={rss}
      card={card || false}
    />
    {themeColor && <meta name="theme-color" content={themeColor} />}
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <slot />
    <style lang="scss" is:global>
      @import "/src/variables.scss";
      a {
        color: $text-color;
        text-decoration: underline;
        text-decoration-color: $accent-color;
        @media print {
          text-decoration: underline;
        }
        &:hover {
          padding-top: 0.1rem;
          text-decoration: none;
          background-color: rgba($accent-color, 0.2);
        }
      }
      body {
        @include serif;
        background-color: #ffffff;
        // background-color: #f4f0ec;
        color: $text-color;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        margin: 0;
        @media print {
          font-size: 0.8rem;
          -webkit-print-color-adjust: exact !important;
          print-color-adjust: exact !important;
        }
      }
      hr {
        color: rgba(0, 0, 0, 0.2);
        border-style: solid;
        margin: 1rem 0;
      }
      @import "src/tufte.scss";
    </style>
  </body>
</html>
