---
import Base from "./Base.astro";
import PostContent from "src/components/blog/post/PostContent.astro";
import HighlightList from "src/components/HighlightList.astro";
import { CollectionEntry, getCollection } from "astro:content";
import Article from "src/components/Article.astro";

type Props = CollectionEntry<"projects">;

const { data: frontmatter, id, render } = Astro.props;

const tags = frontmatter.tags || [];
const posts = (
  await getCollection(
    "blog",
    (p) => !p.data.draft && tags.some((t) => p.data.tags?.includes(t))
  )
).sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());

const { Content } = await render();
---

<Base
  path={"resume/projects/" + id}
  back="/resume"
  title={frontmatter.name}
  description={frontmatter.description}
>
  <Article>
    <h1>{frontmatter.name}</h1>
    <PostContent>
      <Content />
    </PostContent>

    {
      posts.length > 0 ? (
        <>
          <h2>Related blog posts</h2>
          <HighlightList highlights={posts} />
        </>
      ) : null
    }
  </Article>
</Base>
