---
import type { Page } from "astro";
import type { CollectionEntry } from "astro:content";
import Base from "./Base.astro";
import Post from "src/components/shorts/Post.astro";

type Props = { page: Page<CollectionEntry<"shorts">> };

const { page } = Astro.props;
---

<Base path="Âµ" title="ðŸ¦ microblog" description="Âµblog">
  <section id="intro">
    <h1>The Âµ-blog</h1>
    <h2>Collecting interesting links and commentary from around the Web.</h2>
  </section>
  <section id="feed">
    {
      page.data.map((p) => (
        <div class="post">
          <Post content={p} />
        </div>
      ))
    }
  </section>
</Base>

<style lang="scss">
  @import "/src/variables.scss";
  #intro {
    h1 {
      @include serif;
      margin-bottom: 0;
    }
    h2 {
      @include sans-serif;
      font-weight: 400;
      font-size: 1.2rem;
      margin-top: 0.5rem;
      margin-bottom: 2rem;
    }
  }

  #feed {
    .post {
      margin-bottom: 0.5rem;
    }
  }
</style>
