---
import Job from "./Job.astro";
import type { CollectionEntry } from "astro:content";

export interface Props {
  title: string;
  jobs: CollectionEntry<"work">[];
}

const { title, jobs } = Astro.props;

const skills = [...new Set(jobs.flatMap(({ data: { skills } }) => skills))];

jobs.sort(
  (a, b) => new Date(b.data.start).getTime() - new Date(a.data.start).getTime()
);
---

{
  jobs[0] ? (
    <li class="group">
      <span class="info">
        <strong>{jobs[0].data.company}</strong>
        <span class="location">• {jobs[0].data.location}</span>
      </span>
      <div class="skills">
        {skills.map((s) => (
          <span class="skill">{s}</span>
        ))}
      </div>
      <ul>
        {jobs.map((job) => (
          <li class="job">
            <Job job={job} />
          </li>
        ))}
      </ul>
    </li>
  ) : null
}

<style lang="scss">
  @import "/src/variables.scss";
  li.group {
    list-style: none;
    margin-bottom: 0.5rem;
    @media print {
      margin-bottom: 0.5em;
    }
  }
  li.job {
    margin-bottom: 0.25rem;
    @media print {
      margin-bottom: 0.5em;
    }
    list-style: none;

    // TODO: linkedin-style timelines
    // list-style: disc;
    // margin-left: 1rem;
    // position: relative;
    // &:before {
    //   content: "";
    //   position: absolute;
    //   left: -10.5px; /* adjust manually */
    //   top: 17px;
    //   border-left: 2px solid grey;
    //   height: 95%;
    //   width: 1px;
    // }
    // &:last-child:before {
    //   border-left: 0;
    // }
  }
  .info {
    font-size: 1.2em;
  }
  .location {
    @include dimmed;
  }
  ul {
    padding-inline-start: 0;
  }
  span.skill {
    background-color: $background-color-solid;
    border-radius: 3px;
    // color: black;
    padding: 0px 5px;
    font-size: 0.9em;
    &:not(:last-child) {
      margin-right: 0.5rem;
    }
  }
  div.skills {
    margin: 0.15rem 0;
  }
</style>
