---
import Job from "./Job.astro";
import type { CollectionEntry } from "astro:content";

export interface Props {
  title: string;
  jobs: CollectionEntry<"work">[];
}

const { title, jobs } = Astro.props;

jobs.sort(
  (a, b) => new Date(b.data.start).getTime() - new Date(a.data.start).getTime()
);
---

{
  jobs[0] ? (
    <li class="group">
      <span class="info">
        <strong>{jobs[0].data.company}</strong>
        <span class="location">• {jobs[0].data.location}</span>
      </span>
      <ul>
        {jobs.map((job) => (
          <li class="job">
            <Job job={job} />
          </li>
        ))}
      </ul>
    </li>
  ) : null
}

<style lang="scss">
  @import "/src/variables.scss";
  li.group {
    list-style: none;
    margin-bottom: 0.5rem;
  }
  li.job {
    margin-bottom: 0.25rem;
    list-style: none;

    // TODO: linkedin-style timelines
    // list-style: disc;
    // margin-left: 1rem;
    // position: relative;
    // &:before {
    //   content: "";
    //   position: absolute;
    //   left: -10.5px; /* adjust manually */
    //   top: 17px;
    //   border-left: 2px solid grey;
    //   height: 95%;
    //   width: 1px;
    // }
    // &:last-child:before {
    //   border-left: 0;
    // }
  }
  .info {
    font-size: 1rem;
    @media print {
      font-size: 0.9rem;
    }
  }
  .location {
    @include dimmed;
  }
  ul {
    padding-inline-start: 0;
  }
</style>
