---
import type { CollectionEntry } from "astro:content";
import { toDuration, toMonthYear } from "src/utils";

export interface Props {
  job: CollectionEntry<"work">;
}

const {
  job: {
    render,
    data: { start, end, skills, title, showDetails },
  },
} = Astro.props;
const { Content } = await render();
---

<span class="title">{title}</span>
<div class="details">
  {toDuration(start, end)}
</div>
<div class={`resume-job-content ${showDetails ? "showPrint" : "hidePrint"}`}>
  <Content />
</div>

<style lang="scss">
  @import "/src/variables.scss";

  .details {
    @include dimmed;
  }
  .title {
    font-size: 1.1em;
  }
</style>

<style lang="scss" is:global>
  @import "/src/variables.scss";
  .resume-job-content {
    p {
      margin: 0;
    }
    margin-bottom: 0.5rem;
    ul {
      list-style-type: disc;
      padding-top: 0.25rem;
      padding-inline-start: 1.5rem;
    }
    @media print {
      &.hidePrint {
        display: none;
      }
      margin-bottom: 0;
    }
  }
</style>
