---
import type { CollectionEntry } from "astro:content";
import { render } from "astro:content";
import { toDuration, toMonthYear } from "src/utils";

export interface Props {
  job: CollectionEntry<"work">;
}

const {
  job: {
    data: { start, end, skills, title, print },
  },
} = Astro.props;
const { Content } = await render(Astro.props.job);
---

<span class="title">{title}</span>
<div class="details">
  {toDuration(start, end)}
</div>
<div class={`resume-job-content ${print ? "showPrint" : "hidePrint"}`}>
  <Content />
</div>

<style>
  .details {
    opacity: var(--dimmed-opacity);
    @media print {
      display: inline-block;
    }
  }
  .title {
    font-size: 1.1em;
  }
</style>

<style is:global>
  .resume-job-content {
    p {
      margin: 0;
    }
    margin-bottom: 0.5rem;
    ul {
      list-style-type: disc;
      padding-top: 0.25rem;
      padding-inline-start: 1.5rem;
    }
    @media print {
      &.hidePrint {
        display: none;
      }
      margin-bottom: 0;
    }
  }
</style>
