---
import type { MarkdownInstance, MarkdownLayoutProps } from "astro";
import { toDuration, toMonthYear } from "src/utils";
import type { JobInfo } from "../schemas";

export interface Props {
  job: MarkdownInstance<JobInfo>;
}

const { job } = Astro.props;
const startDate = new Date(job.frontmatter.start);
const endDate = job.frontmatter.end ? new Date(job.frontmatter.end) : null;
---

<span class="title">{job.frontmatter.title}</span>
<div class="details">
  {toDuration(startDate, endDate)}
</div>
<div
  class={`resume-job-content ${
    job.frontmatter.showDetails ? "showPrint" : "hidePrint"
  }`}
>
  <job.Content />
</div>

<style lang="scss">
  @import "/src/variables.scss";

  .details {
    @include dimmed;
  }
  .title {
    font-size: 1.1em;
  }
</style>

<style lang="scss" is:global>
  @import "/src/variables.scss";
  .resume-job-content {
    p {
      margin: 0;
    }
    margin-bottom: 0.5rem;
    ul {
      list-style-type: disc;
      padding-top: 0.25rem;
      padding-inline-start: 1.5rem;
    }
    @media print {
      &.hidePrint {
        display: none;
      }
    }
  }
</style>
